

/* ==========================================================================
Author's custom styles
========================================================================== */

body {
	font-family: 'Lato', sans-serif;
	padding-top: 60px;
}

.clear {
    clear: both;
}

.login-iframe-container {
	text-align: center;
	padding:0px;
}

.fixed-height-container {
    height: 100vh;
}

.navbar-login-container {
	padding:0px 15px;
	//display:none;
}

.navbar-login-text {
	color:aliceblue !important;
}

.registration-iframe-container {
	padding-top: 40px;
	text-align:center;
}

.registration-text-container {
	text-align:left;
}

.nav-sidebar {
	position:fixed;
}

.wrap-sidebar {
	width: 200px;
	margin: 0 auto;
}

#moduleContent {
	min-height: 450px;
}
#moduleList .container {
	margin-top: 4.5%;
}

/*admin panel edit button*/
.panel-heading button {
	float:right;
}

/*lecturer edit button*/
#moduleList button {
	float:right;
}

/*lecturer register button*/
button[data-target="#registerModal"] {
	float: right;
}

/*student register project button*/
button[data-target="#registerProjectModal"] {
    float: right;
}

#submitMembers-btn {
	float: left;
}

.addMemberBtn {
    float: left;
}

.memberDetails {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* seperate from title */
.projectMemberandDetails {
	margin-top: 50px;
}

/* seperate from first row of input */
.firstRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.firstRow #name {
	text-align: center;
}

.secondRow {
	margin-top: 5px;
	margin-bottom: 5px;
}

.projectTitleInput {
	position: relative;
}

.deleteProjectBtn {
	position: absolute;
	top: -43px;
	left: 322px;
	display: none;
}

.projectTitleInput:hover .deleteProjectBtn {
	display: initial;
}

/*admin page*/
.admin-container {
	margin-top: 30px;
}

#admin-update-btn {
	float: right;
	display: block;
}

.eventDate-container{
	margin-bottom: 25px;
	margin-top: 25px;
}

#admin-accordion {
	border-color: transparent;
}
#eventDate-btn {
	float:right;
}
.food-container{
	margin-bottom: 25px;
	margin-top: 25px;
}

#veganDiv, #nonVeganDiv {
	text-align: center;
}

/* if large screen (min-width: 1200px), apply these rules */
@media (min-width: 1200px) {

	#emailLabel {
		margin-left: 9px;
  		margin-right: 30px;
	}

	#foodLabel {
		text-align: left;
 		margin-left: 30px;
 		width: 100px;
	}

	.emailDiv {
		padding-left: 0px;
	}

}

/* if small screen (max-width: 1200px), apply these rules instead */
@media (max-width: 1200px) {

}
